<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>More for less</title>
    <link rel="stylesheet" href="../../../styles/bronze.css">
</head>
<body>
    <div class="section" id="title">
        <h2>More for less</h2>
        <h1>Bronze web</h1>
    </div>
    <hr>
    <div class="section" id="char">
        <div class="row">
            <div class="complete">
                <i class="fa-solid fa-dumbbell" aria-hidden=true></i><br>
                <h3>Complete web</h3><br>
                <p>A complete web page. No time inversion, no coding lessons. Tell me what you want, I'll do it</p>
            </div>
            <span class="vl big"></span>
            <div class="seo">
                <i class="fa-solid fa-crosshairs" aria-hidden=true></i><br>
                <h3>Target you audience</h3><br>
                <p>Your web will appear in the firsts spots in Google, so you don't have to worry</p>
            </div>
            <span class="vl big"></span>
            <div class="proffesional">
                <i class="fa-solid fa-suitcase" aria-hidden=true></i><br>
                <h3>Proffesional but personal</h3><br>
                <p>Your web will be very proffesional, with a touch so it has its own personality</p>
            </div>
        </div>
    </div>
    <hr>
    <div class="section" id="extra-features">
        <div class="img"></div>

        <div class="img"></div>
    </div>
    <hr>
    <div class="section" id="contact">
        <p>Start your project right now. I'm at your service</p>
        <button><a href="#/Contact">Contact with me -></a></button>
    </div>
    <hr>
    <footer>
        <p>© <span id="year"> </span> Iker Nieto Garrido. All Rights reserved</p>
        <a href="#"><img src="../../../img/mainLogo.png" alt=""></a>
        <p>
            <a href="#/Legal">Legal policy</a>
            <span class="vl"></span>
            <a href="#/Cookies">Cookies policy</a>
            <span class="vl"></span>
            <a href="#/Privacy">Privacy policy</a>
        </p>
    </footer>
    <script src="https://kit.fontawesome.com/5e899d16e4.js" crossorigin="anonymous"></script>
    <script src="../../../scripts/silver.js" type="module"></script>
</body>
</html>