<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crush your competition</title>
    <link rel="stylesheet" href="../../../styles/gold.css">
</head>
<body>
    <div class="section" id="title">
        <h2>Crush your competition</h2>
        <h1>Gold web</h1>
    </div>
    <hr>
    <div class="section" id="char">
        <div class="row">
            <div class="adapted">
                <i class="fa-solid fa-gears" aria-hidden=true></i><br>
                <h3>Custom programming</h3><br>
                <p>You can control some of the programming of the web so you can control the design and the capabilities of the web</p>
            </div>
            <span class="vl big"></span>
            <div class="mobile">
                <i class="fa-solid fa-desktop" aria-hidden=true></i> <i class="fa-solid fa-arrow-right" aria-hidden=true></i> <i class="fa-solid fa-mobile-screen-button" aria-hidden=true></i><br>
                <h3>Complete responsive design</h3><br>
                <p>More traffic is generated each day from mobile devices. Adapt to them with a web design specially focused on mobile devices</p>
            </div>
            <span class="vl big"></span>
            <div class="seo">
                <i class="fa-solid fa-chart-line" aria-hidden=true></i><br>
                <h3>SEO Royal</h3><br>
                <p>Your web will always appear in the first spots at Google. Take away clients from your competition and take your bussiness to the moon</p>
            </div>
            <span class="vl big"></span>
            <div class="proffesional">
                <i class="fa-solid fa-heart" aria-hidden=true></i><br>
                <h3>Made with love</h3><br>
                <p>Proffesional, personal and perfect. You will get your dream page for your bussiness, with that personal look. Just perfect</p>
            </div>
        </div>
    </div>
    <hr>
    <div class="section" id="extra-features">
        <div class="back-img" id="left">
            <div class="black"></div>
            <h3>Flawless design for every device</h3>
            <p>
                Don't worry losing clients in mobile.<br>
                The website will be designed with every device in mind 
            </p>
            <a href="#/Contact">More info.</a>
        </div>
        <div class="back-img" id="center">
            <div class="yellow"></div>    
        </div>
        <div class="back-img" id="right">
            <div class="black"></div>
            <h3>Security, the main focus </h3>
            <p>
                Security, is one of the most important things, in the web developement world <br>
                So don't worry about your data being leaked. You'll be protected against it
            </p>
            <a href="#/About">More info.</a>
        </div>
    </div>
    <hr>
    <div class="section" id="contact">
        <p>Start your project right now. I'm at your service</p>
        <button><a href="#/Contact">Contact with me -></a></button>
    </div>
    <hr>
    <footer>
        <p>© <span id="year"> </span> Iker Nieto Garrido. All Rights reserved</p>
        <a href="#"><img src="../../../img/mainLogo.png" alt=""></a>
        <p>
            <a href="#/Legal">Legal policy</a>
            <span class="vl"></span>
            <a href="#/Cookies">Cookies policy</a>
            <span class="vl"></span>
            <a href="#/Privacy">Privacy policy</a>
        </p>
    </footer>
    <script src="https://kit.fontawesome.com/5e899d16e4.js" crossorigin="anonymous"></script>
    <script src="../../../scripts/gold.js" type="module"></script>
</body>
</html>