<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>¿Quién soy? 🤔 💭</title>
    <link rel="stylesheet" href="../../styles/about.css">
    <link rel="stylesheet" href="../../fontawesome/css/pro.min.css">
    <link rel="stylesheet" href="../../styles/reveal.css">
</head>
<body>
    <div id="title">
        <h1 class="reveal">Sobre mí</h1>
        <div id="back" class="reveal"></div>
        <div id="points" class="reveal"></div>
    </div>
    <div id="who-am-I" class="section">
        <h2 class="reveal">¿Quién soy? 🤔 💭</h2>
        <div class="internals reveal">
            <ul>
                <li>
                    <span>¡Hola!</span> 👋  <br>
                    Soy Iker Nieto
                </li>
                <hr>
                <li>Estudiante, desarrolladore web y autodidacta que vive en León, España</li>
                <hr>
                <li>Nací en mayo del 2005</li>
                <hr>
                <li>Y quiero que tu negocio alcance sus objetivos de crecimiento en línea</li>
            </ul>
        </div> 
    </div>
    <div id="skills" class="section reveal">
        <h2>Mis habilidades 🔧 🔨</h2> 
        <div class="row">
            <div id="dinamism">
                <button class="fancy-button">
                    <div id="lines">
                        <div id="left-lines">
                            <div class="lines" style="--angle: 35deg; --animation:top-left"></div>
                            <div class="lines" style="--angle: 0deg; --animation: left"></div>
                            <div class="lines" style="--angle: -35deg; --animation:bottom-left"></div>
                        </div>
                        <div id="right-lines">
                            <div class="lines" style="--angle: -35deg; --animation:top-right"></div>
                            <div class="lines" style="--angle: 0deg; --animation:right"></div>
                            <div class="lines" style="--angle: 35deg; --animation: bottom-right"></div>
                        </div>
                    </div>
                    <h3>Dinamismo</h3>
                </button>
                <p>
                    Diseño llamativo y dinámico<br>
                    <p class="before" style="--text: 'Pon tu ratón sobre el título'; --mobile: 'Mantén presionado el título'"> (prueba con el resto de títulos)</p>
                </p>
            </div>
            <div id="speed">
                <div id="movement">
                    <h3>veloz</h3>
                    <i class="fa-duotone fa-truck-fast" aria-hidden="true"></i>
                </div>
                <p>
                    Tiempos de carga rápidos. <br>
                    Tiempos de desarrollo cortos.
                </p>
            </div>
            <div id="original">
                <div id="lightbulb">
                    <h3>Originalidad</h3>
                    <i class="fa-duotone fa-lightbulb lightbulb" aria-hidden="true">
                        <div class="lines" style="--rotation: 335deg; --top: 25px; --left: -17.5px;"></div>
                        <div class="lines" style="--rotation: -335deg; --top: -1px; --left: -17.5px;"></div>
                        <div class="lines" style="--rotation: 335deg; --top: -1px; --left: 40px;"></div>
                        <div class="lines" style="--rotation: -335deg; --top: 25px; --left: 40px;"></div>
                    </i>
                </div>
                <p>
                    Diseños originales. <br>
                    En español y en inglés.
                </p>
            </div>
        </div>

    </div>
    <div id="compromise" class="section">
        <div class="black"></div>
        <h2 class="reveal">Mi compromiso con la "España vaciada"</h2>
        <a href="#/Empty" id="know-more" class="reveal">Saber más -></a>
    </div>
    <div id="values" class="section">
        <h2 class="reveal">Cómo trabajo</h2>
        <ul class="reveal">
            <li>Creatividad y trabajo duro</li>
            <li>La comunicación es esencial. Podrás hablar conmigo durante todo el proceso</li>
            <li>
                Por eso prefiero la frase:
                <ul class="margin">
                    <li><em><strong>"Trabajo contigo"</strong></em></li>
                </ul>
            </li>
            <li>
                en vez de:
                <ul class="margin">
                    <li><em>"Trabajo para ti"</em></li>
                </ul>
            </li>
        </ul>
        <div class="back reveal"></div>
        <div class="dots reveal"></div>
    </div>
    <div class="section" id="contact">
        <h5 class="reveal">Contacta conmigo. Estoy para lo que necesites</h5> 
        <a href="#/Contact" class="reveal">Contacta conmigo -></a>
    </div>
    <footer>
        <p>© <span id="year"> </span> Iker Nieto Garrido. All Rights reserved</p>
        <a href="#/"><img src="../../img/mainLogo.png" alt="Main logo"></a>
        <p>
            <a href="#/Legal">Aviso legal</a>
            <span class="vl"></span>
            <a href="#/Cookies">Política de cookies</a>
            <span class="vl"></span>
            <a href="#/Privacy">Política de privacidad</a>
        </p>
    </footer>
    <script src="../../scripts/about.js" type="module"></script>
</body>
</html>