<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos personales</title>
    <link rel="stylesheet" href="../../styles/policy.css">
</head>
<body>
    <h1>Política de privacidad</h1>
    <h2>¿Quién se responsabiliza del tratamiento de sus datos?</h2>
    <ul>
        <li>Iker Nieto Garrido</li>
        <li>DNI...</li>
        <li>Dirección</li>
        <li>Número de teléfono</li>
        <li>e-mail</li>
    </ul>
    <h2>¿Cuáles son sus derechos cuando nos facilita sus datos?</h2>
    <p>
        Cualquier persona tiene derecho a obtener confirmación sobre si estamos tratando datos personales que les conciernen o no. En este sentido, tienes derecho a solicitar:
    </p>
    <ul>
        <li>Acceso: la persona que nos facilita sus datos tendrá derecho a obtener del responsable del tratamiento confirmación de si se están tratando o no los datos que le concierne, así como información detallada acerca de determinados aspectos del tratamiento que se esté llevando a cabo.</li>
        <li>Rectificación: la persona que nos facilita sus datos tendrá derecho a obtener la rectificación de los datos personales inexactos que le conciernen o a que se completen aquellos que fueran incompletos.</li>
        <li>Supresión: la persona que nos facilita sus datos tendrá derecho a solicitar la supresión de sus datos personales; en todo caso la supresión estará sujeta a los límites establecidos en la norma reguladora.</li>
        <li>Limitación de su tratamiento: la persona que nos facilita sus datos tendrá derecho a solicitar la limitación del tratamiento de sus datos de carácter personal.</li>
        <li>Oposición al tratamiento: en determinadas circunstancias, y por motivos relacionados con su situación particular, las personas que nos facilitan sus datos podrán oponerse al tratamiento de los mismos. La entidad dejará de tratarlos, salvo por motivos legítimos, imperiosos, o el ejercicio o la defensa de posibles reclamaciones.</li>
        <li>Derecho a la portabilidad de sus datos: la persona que nos facilita sus datos tendrá derecho a recibir los datos personales que le incumban, aquellos que haya facilitado a la persona responsable del tratamiento, en un formato estructurado, de uso común y de lectura mecánica, así como a transmitirlos a cualquiera otra persona que pueda ser responsable del tratamiento.</li>
    </ul>
    <p>
        Puede ejercer los referidos derechos dirigiéndose a la persona responsable. Para ello, puede utilizar los datos de contacto facilitados al inicio del presente documento.

        Si desea obtener información adicional respecto al ejercicio de sus derechos, también puede dirigirse a la Agencia Española de Protección de Datos (AEPD).

        Asimismo, le informamos que, y si lo cree oportuno, tiene el derecho a retirar en cualquier momento el consentimiento otorgado para alguna finalidad específica, sin que ello afecte a la licitud del tratamiento, basado en el consentimiento previo a su retirada.

        En el caso de que entienda que no se han atendido adecuadamente sus derechos, puede presentar una reclamación ante la Agencia Española de Protección de Datos (C/ Jorge Juan, 6. 28001 – Madrid o en www.agpd.es).
    </p>
   <hr> 
   <footer>
        <p>© <span id="year"> </span> Iker Nieto Garrido. All Rights reserved</p>
        <a href="#/"><img src="../../img/mainLogo.png" alt=""></a>
        <p>
            <a href="#/Legal">Aviso legal</a>
            <span class="vl"></span>
            <a href="#/Cookies">Política de cookies</a>
            <span class="vl"></span>
            <a href="#/Privacy">Política de privacidad</a>
        </p>
    </footer>
   <script src="../../scripts/policy.js" type="module"></script>
</body>
</html>