<div id="centered">
    <div class="animations" id="first" style="--color: #000"><span id="hi">¡Hola</span><span id="exclamation">!</span> <span id="hand">👋</span></div><br>
    <div class="animations" id="second"> <span id="Im">Soy</span>  <span id="block"><strong id="name">Iker</strong> <strong id="secondName">Nieto</strong></span></div><br>
    <div class="animations" id="third"><span id="web">Desarrollador</span> <span id="dev">web</span></div>
</div>
<a href="#/Services" id="bottom-left">Descbure más<span id="arrows"><i class="fa-duotone fa-arrow-left"></i></span></a>
<img src="../../../../App/assets/img/mainLogo.png" alt="My logo" id="logo">