@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
:root {
    --letter: #FFCA5F;
    --back: #201435;
    --transparent-white: rgba(255,255,255, .35);
    --card-color: rgb(23,23,23);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

body {
    background: var(--back);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    font-size: 35px;
    overflow-x: hidden;
}
h2 {
    margin-block: 5%;
}
.div {
    margin-block: 10vh;
}
/*who am I div*/

#who-am-I {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90vh;
}
#who-am-I > .internals {
    display: flex;
    align-items: center;
    flex-direction: row;
}
.internals > ul {
    list-style-type: none;
    margin-inline: 5%;
}
.internals > ul > li {
    margin-block: 35px;
}
.internals  span {
    display: inline-block;
    font-size: calc(2vw + 15px);
}
/*Skills div*/
#skills {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
#skills > h2 {
    margin-block: 5vh;
}
#skills > ul {
    width: 60%;
    font-size: 50px;
    list-style-type: none;
    /* border: 5px solid white;
    border-radius: 1rem; */
}
#skills > ul > li {
    width: 100%;
    position: relative;
}
.skills {
    text-align: center;
    color: var(--color);
    border-radius: 1rem;
    padding: 5px;
    padding-inline: 10px;
}
.bar-container {
    display: inline-block;
    width: 80%;
    height: 50px;
    position: absolute;
    right: 0;
    top:20px;
    background: rgba(0,0,0,.5);
    border-radius: 5rem;
}
.bar {
    display: inline-block;
    width: var(--width);
    height: 50px;
    border-radius: 5rem;
    background: linear-gradient(135deg, var(--g1), var(--g2), var(--g3));
    position: relative;
    bottom: 6px;
}
.font-size {
    font-size: 75px;
    cursor: pointer;
}

/*
Hover cards
(https://youtu.be/htGfnF1zN4g)
*/
#contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
#cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
    max-width: 75%;
    width: calc(100% - 20px)
}
.card {
    position: relative;
    background-color: rgba(255,255,255,.02);
    border-radius: 10px;
    cursor: pointer;
    height: 150px;
    width: 450px;
}

.card::before,
.card > .card-border  {
    border-radius: inherit;
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    opacity: 0;
    transition: opacity .5s;
}
.card::before {
    background: radial-gradient(
    1000px circle at var(--mouse-x) var(--mouse-y),
        var(--color),
        transparent 40%
    );
    z-index: 3;
}

.card > .card-border {
    background: radial-gradient(
        1000px circle at var(--mouse-x) var(--mouse-y),
        var(--color),
        transparent 40%
    );
    z-index: 1;
}

#cards:hover > .card > .card-border {
    opacity: 1;
}

.card:hover::before {
    opacity: 1;
}

.card > .card-content {
    position: relative;
    height: calc(100% - 3px);
    width: calc(100% - 3px);
    background-color: var(--card-color);
    border-radius: inherit;
    margin: 1px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.card-content > span {
    z-index: 4;
    opacity: 0;
    transition: .5s opacity;
    font-size: 35px;
}
.card:hover > .card-content > span {
    opacity: 1;
}
.card-content > * {
    margin-inline: 5%;
}
.card-content > i {
    font-size: 50px;
}

/*Values div*/
#values {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 75%;
}
#values > ul > li > ul {
    display: inline-block;
    margin-left: 50px;
}
#values b {
    font-weight: 900;
    font-size: 50px;
    margin-left: 15%;
}
#values i {
    margin-left: 5%;
}