@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
:root {
    --letter: #FFCA5F;
    --back: #302455;
    --transparent-white: rgba(255,255,255, .35);
    --card-color: rgb(23,23,23);
    --letter-dif: #FFCA5F66;
    --black: rgba(0,0,0,.5);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

body {
    background: #302455;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    font-size: 25px;
    overflow-x: hidden;
}
h2 {
    text-align: center;
}
hr {
    width: 75%;
}
/**Title**/
#title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background: black;
    background-image: radial-gradient(rgba(255,255,255,.2) 3px, transparent 0%);
    background-size: 40px 40px;
    background-attachment: fixed;
    margin-block-end: 0;
    position: relative;
}
hr.complete {
    width: 100%;
}
/**E-mail form**/
#email-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding-block: 25vh;
}
#email-form > form {
    width: 65%;
    height: 100%;
    font-size: 25px;
} 
#email-form > form > fieldset {
    border-radius: 1rem;
    padding: 1rem;
    border: 1px solid var(--letter);
}
#email-form > form > fieldset > legend {
    padding: .5rem;
}
#email-form input, #email-form select {
    margin: .5rem;
    padding: .5rem;
    border: 1px solid var(--letter);
    border-radius: .25rem;
    background: var(--back);
    color: white;
    width: 46%;
    font-size: 20px;
}
#email-form #type {
    width: 96%;
}
#email-form input[type="submit"] {
    transform: translate(50%);
    cursor: pointer;
}
#email-form textarea {
    width: 96%;
    height: 10rem;
    padding: .5rem;
    margin-block: 1rem;
    border: 1px solid var(--letter);
    border-radius: .25rem;
    background: var(--back);
    color: white;
    resize: none;
    font-size: 15px;
    transform: translateX(.75%);
}
#email-form img {
    position: relative;
    width: 15%;
    left: 41.75%;
    display: none;
}
#gmail {
    padding: 0;
    margin: 0;
}
/*Contact-cards*/
#contact-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: inherit;
    margin: 5rem;
}
.inner-contact-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.card {
    aspect-ratio: 1/1.2;
    border: 0.5vmin solid var(--border);
    cursor: pointer;
    position: relative;
    width: 23vw;
    background: black;
    margin: 5vw;
    margin-block-end: 12vw;
    border-radius: 1vw;
}

.card::before {
    border-radius: 1vw;
    background: linear-gradient(
        130deg,
        transparent 0% 33%,
        var(--g1) 66%,
        var(--g2) 83.5%,
        var(--g3) 100%
    );
    background-position: 0% 0%;
    background-size: 300% 300%;
    content: "";
    height: 100%;
    left:0px;
    position: absolute;
    top: 0px;
    width: 100%;
    transition: all 350ms ease;
}

.card:hover::before {
    background-position: 100% 100%;
    transform: scale(1.08, 1.03);
}

.card-content {
    background: radial-gradient(
        rgba(255, 255, 255, 0.2) 3px,
        transparent 0px
    );
    background-position: 0% 0%;
    background-size: 40px 40px;
    height: calc(100% - 10vmin);
    width: calc(100% - 10vmin);
    padding: 5vmin;
    transition: background-position 350ms ease;
    z-index: 2;
    position: relative;
    background-attachment: fixed;
}
.card:hover > .card-content {
    background-position: -10% 0%;
    
}
.card-title,
.card-subtitle {
    font-weight: 400;
    margin: 0px;
 }

.card-title {
    font-size: 3.5vw;
}
.card-subtitle {
    font-size: 1.5vw;
    margin-top: 1vw;
}
.card-subtitle-word {
    display: inline-block;
    margin: 0vmin 0.3vmin;
    position: relative;
    transform: translateY(40%);
    transition: none;
    opacity: 0;
}
.card:hover > .card-content > .card-subtitle > .card-subtitle-word {
    opacity: 1;
    transform: translateY(0%);
    transition: opacity 0ms, transform 200ms cubic-bezier(.9, .06, .15, .9);
}
.card-icon {
    bottom: 0px;
    color: var(--border);
    font-size: 7vmin;
    left: 0px;
    margin: 5vmin;
    position: absolute;
    transition: color 250ms ease;
    z-index: 2;position: absolute;
    width: 5rem;
}
.card:hover > .card-icon {
    color: white;
}
#page-code {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 65%;
}
/**Footer**/
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 10vh;
}
footer > a,
footer > a > img {
    width: 5vw;
    height: 5vw;
    margin-inline: 2vw;
}
footer > p {
    font-size: 15px;
    width: 50vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer a {
    text-decoration: none;
    transition: color .3s;
}
footer a:hover {
    color: var(--letter);
}
.vl {
    display: inline-block;
    border-left: 1px solid white;
    height: 20px;
    margin-inline: 15px;
}
.vl.big {
    height: 7.5rem;
    border-left: 3px solid white;
}
#year {
    margin-inline: 5px;
}