@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
:root {
    --letter: #FFCA5F;
    --back: #302455;
    --transparent-white: rgba(255,255,255, .5);
    --letter-dif: #FFCA5F66;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

body {
    background: var(--back);
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    font-size: 25px;
    overflow-x: hidden;
}
i {
    color: var(--letter);
    font-size: 2.5rem;
    display: inline-block;
    height: 2.5rem;
    cursor: pointer;
    transition: transform .3s;
}
img {
    height: 2.5rem;
    transition: transform .3s;
}
hr {
    width: 100%;
}
a {
    text-decoration: none;
}
button:hover > i, button:hover > img {
    transform: scale(1.05, 1.03);
    cursor: pointer;
}
/**Title**/
#title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background: var(--transparent-white);
    background-image: radial-gradient(var(--back) 3px, transparent 0);
    background-size: 40px 40px;
    background-attachment: fixed;
}
#title > h1,
#title > h2 {
    background: var(--back);
    color: white;
    padding: 2rem;
}
/** Relax section **/

#relax {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--letter);
    color: var(--back);
    width: 100%;
    height: 85vh;
    margin-block-end: 5vh;
    padding: 3rem;
}
#relax * {
    color: var(--back);
}
.row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: relative;
}
.row img {
    width: 20%;
    height:85%;
    margin-inline: 5%;
    margin-block: 2%;
    border-radius: 1rem;
    box-shadow: 5px -5px 10px var(--back),
                5px -5px 15px var(--back);
}
.row img:hover {
    transform:scale(1.05, 1.05);
}
.you {
    position: absolute;
    bottom: 5%;
    left: 35%;
    transform: translateY(15px);
    opacity: 0;
    transition: all .3s;
}
div.hover {
    opacity: 1;
    transform: translateY(0px);
} 
.another-row {
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    flex-direction: column;
}
.another-another-row {
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    flex-direction: row;
    margin-block: 2rem;
}
.another-another-row div {
    margin-inline: 2rem;
}
/**Steps**/
#steps {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-block: 5vh;
    width: 100%;
    height: 65vh;

}
#steps > .row {
    display: flex;
    flex-direction: row;
}
#steps > .row > .column {
    display: flex;
    flex-direction: column;
    margin-inline: 5vw;
}
#steps > h2 {
    margin-block-end: 7.5vh;
    margin-block-start: 2.5vh;
    text-align: center;
}
#steps > h3 {
    margin-block: 2.5vh;
    text-align: center;
}
#steps > hr {
    width: 15%;
}
/**Middle hr**/
.top-margin {
    margin-block-start: 5vh;
}
/**Included**/
#included {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 65vh;
    background: var(--transparent-white);
    background-image: radial-gradient(var(--back) 3px, transparent 0);
    background-size: 40px 40px;
    background-attachment: fixed;
}
#included > .column {
    display: flex;
    flex-direction: column;
    margin-inline: 5vw;
    padding-block: .5rem;
    padding-inline: 2rem;
    background: var(--back);
    border-radius: 2rem;
}
#included h2,
#included h3 {
    margin-block: 2vh;
    
}
#included > ul {
    background: var(--back);
    border-radius: 1rem;
    padding-block: .5rem;
    padding-inline: 2rem;
    padding-inline-start: 2.5rem;
}
#included > ul > li {
    margin-block: 1rem;
    list-style-type: '☑️';
    padding-inline-start: 2ch;
}

/** Fees section**/
#plans {
    margin-block: 5vh;
    text-align: center;
}
.plans {
    display: flex;
    align-items:flex-end;
    justify-content: center;
    flex-direction: row;
}
.card {
    aspect-ratio: 1.5/1;
    border: 0.5vmin solid var(--border);
    position: relative;
    width: 23vw;
    background: black;
    margin: 5vw;
    margin-block-end: 1rem;
    border-radius: 1vw;
}

.card::before {
    border-radius: 1vw;
    background: linear-gradient(
        130deg,
        transparent 0% 33%,
        var(--g1) 66%,
        var(--g2) 83.5%,
        var(--g3) 100%
        );
    background-position: 0% 0%;
    background-size: 300% 300%;
    content: "";
    height: 100%;
    left:0px;
    position: absolute;
    top: 0px;
    width: 100%;
    transition: all 350ms ease;
}

.card:hover::before {
    background-position: 100% 100%;
    transform: scale(1.08, 1.03);
}

.card-content {
    background-attachment: fixed;
    background: radial-gradient(
        var(--border) 8%,
        transparent 8%
    );
    background-position: 0% 0%;
    background-size: 5vmin 5vmin;
    height: calc(100% - 10vmin);
    width: calc(100% - 10vmin);
    padding: 5vmin;
    transition: background-position 350ms ease;
    z-index: 2;
    position: relative;
}
.card:hover > .card-content {
    background-position: -10% -10%;
    
}
.card-title {
    font-size: 3.5vw;
    font-weight: 900;
}
.card p {
    transition: all .3s ease-in-out;
}
.card:hover p {
    opacity: 0;
    transform: translateY(-15px);
}
.card button {
    background: black;
    font-size: 1vw;
    padding-block: .5rem;
    padding-inline: 2rem; 
    border-radius: 2rem;
    border: 2px solid var(--border);
    cursor: pointer;
    opacity: 0;
    transition: transform .3s ease-in-out, opacity .3s ease-in-out, background .1s, border .1s ;
    transform: translateY(15px);
}
.card:hover button {
    transform: translateY(0px);
    opacity: 1;
}
.card button:active {
    background: var(--border);
    border: 2px simple transparent;
    color: black;
}
.card-content > p {
    background: var(--border);
    display: inline;
    padding-inline: 10px;
    border-radius: 1rem;
    color: black;
}
/**About me**/
#me {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 25vw;
    z-index: 999;
}
#column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100%;
}
#first {
    width: 85%;
    height: 100%;
    background-image: url('../img/myDesktop.jpg');
    background-size: cover;
}
#second {
    width: 35%;
    height: 100%;
    margin-inline-end: 0;
    background-image: url('../img/me.jpg');
    background-size: 400%;
}
#me button {
    margin-block: 2vh;
    background: transparent;
    padding-block: .5rem;
    padding-inline: 2rem;
    border-radius: 2rem;
    color: var(--letter);
    border: 2px solid var(--letter);
    transition: all .3s;
    cursor: pointer;
    font-size: 20px;
}
#me button > a {
    color: inherit;
}
#me button:hover {
    background: var(--letter-dif);
    color: var(--back);
}
#me button:active {
    background: var(--letter);
}

/**Contact**/
#contact {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    margin-inline: 7.5vh;
    background: var(--transparent-white);
    background-image: radial-gradient(var(--back) 3px, transparent 0);
    background-size: 40px 40px;
    background-attachment: fixed;
}
#contact > button {
    padding-block: .5rem;
    padding-inline: 2rem;
    margin-inline: 5vw;
    border-radius: 2rem;
    font-size: 20px;
    background: transparent;
    border: 2px solid var(--letter);
    color: var(--letter);
    cursor: pointer;
    transition: all .125s;
}
#contact  button:hover {
    background: var(--letter-dif);
    color: var(--back);
}
#contact  button:active {
    border: 2px solid var(--back);
    background: var(--letter);
    color: var(--back);

}
#contact a {
    text-decoration: none;
    color: inherit;
}
button:hover > a {
    text-decoration: underline;
}
/**Footer**/
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 10vh;
}
footer > a,
footer > a > img {
    width: 5vw;
    height: 5vw;
    margin-inline: 2vw;
}
footer > p {
    font-size: 15px;
    width: 50vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer a {
    text-decoration: none;
    transition: color .3s;
}
footer a:hover {
    color: var(--letter);
}
.vl {
    display: inline-block;
    border-left: 1px solid white;
    height: 20px;
    margin-inline: 15px;
}
.vl.big {
    height: 7.5rem;
    border-left: 3px solid white;
}
#year {
    margin-inline: 5px;
}