<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Who am I? 🤔 💭</title>
    <link rel="stylesheet" href="../../styles/about.css">
</head>
<body>
    <div id="title">
        <h1>Me, myself and I</h1>
        <div id="back"></div>
        <div id="points"></div>
    </div>
    <div id="who-am-I" class="section">
        <h2>Who am I? 🤔 💭</h2>
        <div class="internals">
            <!-- <img src="../../img/me.jpg" alt="">    -->
            <ul>
                <li>
                    <span>Hi!</span> 👋  <br>
                    I'm Iker Nieto
                </li>
                <hr>
                <li>Student, web developer and autodidact who lives in León, Spain</li>
                <hr>
                <li>I was born on May 2005</li>
                <hr>
                <li>And I want to take your bussiness to the moon</li>
            </ul>
        </div> 
    </div>
    <div id="skills" class="section">
        <h2>My skills 🔧 🔨</h2>
        <!-- <ul>
            <li><span class="font-size"><i class="fa-brands fa-html5 skills" style="--color: #f06529;" aria-hidden=true></i></span>  <p class="appear">90%</p><span class="bar-container" ><span class="bar" style="--width: 90%; --g1:#f06529; --g2:#f06529; --g3:#fff;"></span></span></li>
            <li><span class="font-size"><i class="fa-brands fa-css3-alt skills" style="--color: #2965f1;" aria-hidden=true></i></span> <p class="appear">75%</p> <span class="bar-container" ><span class="bar" style="--width: 75%; --g1:#2965f1; --g2:#2965f1; --g3:#fff;"></span></span></li>
            <li><span class="font-size"><i class="fa-brands fa-square-js skills" style="--color: #f1df1e;" aria-hidden=true></i></span> <p class="appear">95%</p><span class="bar-container"><span class="bar" style="--width: 95%; --g1:#323330; --g2:#f7df1e; --g3:#f7df1e;"></span></span></li>
            <li><span class="font-size"><i class="fa-brands fa-golang skills" style="--color: #007f9f;" aria-hidden=true></i></span> <p class="appear">35%</p><span class="bar-container"><span class="bar" style="--width: 35%; --g1:#5dc9e2; --g2:#50b7e0; --g3:#007f9f;"></span></span></li>
            <li><span class="font-size"><i class="fa-brands fa-wordpress-simple skills" style="--color: #38618c;" aria-hidden=true></i></span> <p class="appear">50%</p><span class="bar-container"><span class="bar" style="--width: 50%; --g1:#38618c; --g2:#eeeeee; --g3:#eeeeee;"></span></span></li>
            <li><span class="font-size">🇪🇸</span><p class="appear">Native</p><span class="bar-container"><span class="bar" style="--width: 100%; --g1:#ad1519; --g2:#fabd00; --g3:#ad1519;"></span></span></li>
            <li><span class="font-size">🇬🇧</span><p class="appear">80%</p><span class="bar-container"><span class="bar" style="--width: 80%; --g1:#fff; --g2:#c8102e; --g3:#022169;"></span></span></li>
        </ul> -->
        <div class="row">
            <div id="dinamism">
                <button class="fancy-button">
                    <div id="lines">
                        <div id="left-lines">
                            <div class="lines" style="--angle: 35deg; --animation:top-left"></div>
                            <div class="lines" style="--angle: 0deg; --animation: left"></div>
                            <div class="lines" style="--angle: -35deg; --animation:bottom-left"></div>
                        </div>
                        <div id="right-lines">
                            <div class="lines" style="--angle: -35deg; --animation:top-right"></div>
                            <div class="lines" style="--angle: 0deg; --animation:right"></div>
                            <div class="lines" style="--angle: 35deg; --animation: bottom-right"></div>
                        </div>
                    </div>
                    <p>Dinamism</p>
                </button>
            </div>
            <div id="speed">
                <div id="movement">
                    <i class="fa-solid fa-truck-fast" aria-hidden="true"></i>
                    <p>speed</p>
                </div>
            </div>
            <div id="original"></div>
        </div>

    </div> 
    <div id="contact" class="section">
        <h2>Talk to me or check what I'm working on <br><span style="font-size: 10px;">(unless it's a secret 🤫)</span></h2>
        <div id="cards">
            <div class="card" style="--color: rgba(255,255,255,.5);">
                <div class="card-border"></div>
                <div class="card-content"><i class="fa-brands fa-github card-icon" aria-hidden=true></i> <span>Github</span></div>
                
            </div>
            <div class="card" style="--color:rgba(129,52,175,.5);">
                <div class="card-border"></div>
                <div class="card-content"><i class="fa-brands fa-instagram card-icon" aria-hidden=true></i> <span>Instagram</span></div>
            </div>
            <div class="card" style="--color: rgba(85,172,238,.5);">
                <div class="card-border"></div>
                <div class="card-content"><i class="fa-brands fa-twitter card-icon" aria-hidden=true></i> <span>Twitter</span></div>
            </div>
            <div class="card" style="--color: rgba(156,205,146,.5);">
                <div class="card-border"></div>
                <div class="card-content"><i class="fa-solid fa-briefcase card-icon" aria-hidden=true></i> <span>Fiverr</span></div>
            </div>
            <div class="card" style="--color: rgba(0,160,220,.5);">
                <div class="card-border"></div>
                <div class="card-content"><i class="fa-brands fa-linkedin card-icon" aria-hidden=true></i> <span>LinkedIn</span></div>
            </div>
            <div class="card" style="--color: rgba(224,224,224,.5);">
                <div class="card-border"></div>
                <div class="card-content"><i class="fa-solid fa-briefcase card-icon" aria-hidden=true></i> <span>upWork</span></div>
            </div>
            <div class="card" style="--color: rgba(88,101,242,.5);">
                <div class="card-border"></div>
                <div class="card-content"><i class="fa-brands fa-discord card-icon" aria-hidden=true></i> <span>Discord</span></div>
            </div>
            <div class="card" style="--color: rgba(187,0,27,.5);">
                <div class="card-border"></div>
                <div class="card-content"><i class="fa-solid fa-envelope card-icon" aria-hidden=true></i> <span>e-Mail</span></div>
            </div>
            <div class="card" style="--color: rgba(37,211,102,.5);">
                <div class="card-border"></div>
                <div class="card-content"><i class="fa-brands fa-whatsapp card-icon" aria-hidden=true></i> <span>WhatsApp</span></div>
            </div>
        </div>
    </div>
    <div id="values" class="section">
        <h2>How I work</h2>
        
    </div>
    <div id="compromise" class="section">
        <div class="black"></div>
        <h2>My compromise with the "Empty Spain"</h2>
        <p>
            Here in Spain, the rural areas are depopulated. And each day that passes, even more. <br>
            That's why I would love to hear your project, especially if you live in one of these depopulated areas, even if you are not from Spain. <br>
            I want to help your bussiness grow and get the rural areas to grow. <br>
            That's why if you have the physical address of your bussiness in one of these areas,<br><br> <strong><em>I'll make you a discount on the prize.</em></strong>
            <a href="" id="know-more">Know more -></a>
        </p>
    </div>
    <div id="page-code" class="section">
        <h3>👉 Check out this page's code 👉</h3>
        <div class="card-hover" style="--border:#6e5494; --g1:#333; --g2:#c9520c; --g3:#f5f5f5;">
            <a href="https://www.github.com/kinire98/kinire.com" target="_blank">
                <div class="card-content-hover">
                    <h3 class="card-title">
                        GitHub
                    </h3>
                    <h4 class="card-subtitle" data-text="Check how this page was built!">
                    
                    </h4>
                </div>
            </a>
            <i class="fa-brands fa-github card-icon" aria-hidden=true></i>
            
        </div>       
    </div>
    <div class="section" id="contact-end">
        <h5>Any doubts? Don't know what you need?</h5>
        <a href="#/Contact">Contact with me -></a>
    </div>
    <footer>
        <p>© <span id="year"> </span> Iker Nieto Garrido. All Rights reserved</p>
        <a href="#"><img src="../../img/mainLogo.png" alt=""></a>
        <p>
            <a href="#/Legal">Legal policy</a>
            <span class="vl"></span>
            <a href="#/Cookies">Cookies policy</a>
            <span class="vl"></span>
            <a href="#/Privacy">Privacy policy</a>
        </p>
    </footer>
    <script src="../../scripts/about.js" type="module"></script>
    <script src="https://kit.fontawesome.com/5e899d16e4.js" crossorigin="anonymous"></script>
</body>
</html>