<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Who am I? 🤔 💭</title>
    <link rel="stylesheet" href="../../styles/about.css">
</head>
<body>
    <h1>About me</h1>
    <div id="who-am-I">
        <h2>Who am I? 🤔 💭</h2>
        <ul>
            <li>
                Hi! 👋  <br>
                I'm Iker Nieto
            </li>
            <li>Student, web developer, autodidact</li>
            <li>And I can help you with you bussiness idea</li>
        </ul>
    </div>
    <div id="skills">
        <h2>My skills 🔧 🔨</h2>
        <ul>
            <li><i class="fa-brands fa-html5"></i> <i class="fa-brands fa-css3-alt"></i> <span id="bar-container"><span id="bar" style="--width: 90%; --g1:#; --g2:#; --g3:#;"></span></span> 90%</li>
            <li><i class="fa-brands fa-square-js"></i><span id="bar-container"><span id="bar" style="--width: 95%; --g1:#; --g2:#; --g3:#;"></span></span> 95%</li>
            <li><i class="fa-brands fa-golang"></i><span id="bar-container"><span id="bar" style="--width: 35%; --g1:#; --g2:#; --g3:#;"></span></span> 35%</li>
            <li><i class="fa-brands fa-wordpress-simple"></i><span id="bar-container"><span id="bar" style="--width: 50%; --g1:#; --g2:#; --g3:#;"></span></span> 50%</li>
            <li>🇪🇸<span id="bar-container"><span id="bar" style="--width: 100%; --g1:#; --g2:#; --g3:#;"></span></span> Native</li>
            <li>🇬🇧<span id="bar-container"><span id="bar" style="--width: 80%; --g1:#; --g2:#; --g3:#;"></span></span> 80%</li>
        </ul>
    </div>
    <div id="services">
        <h2>May I help you? (Changes)</h2>
        <ul>
            <li><small>Little</small> projects</li>
            <li><span style="font-size: 30px;">Big</span> projects</li>
            <li><span style="font-size: 50px;">Humongous</span> projects</li>
        </ul>
    </div>
    <div id="contact">
        <h2>Talk to me or see what I'm working on <span style="font-size: 10px;">(unless it's a secret 🤫)</span></h2>
        <div id="cards">
            <div class="card"><i class="fa-brands fa-github"></i></div>
            <div class="card"><i class="fa-brands fa-github"></i></div>
            <div class="card"><i class="fa-brands fa-github"></i></div>
            <div class="card"><i class="fa-brands fa-github"></i></div>
            <div class="card"><i class="fa-brands fa-github"></i></div>
            <div class="card"><i class="fa-brands fa-github"></i></div>
            <div class="card"><i class="fa-brands fa-github"></i></div>
            <div class="card"><i class="fa-brands fa-github"></i></div>
            <div class="card"><i class="fa-brands fa-github"></i></div>
        </div>
    </div>
    <div id="values">
        <h2>How I work</h2>
        <ul>
            <li>💪 Discipline and hard work 💪, <br> my core values</li>
            <li>
                Collaboration and communication, <br>fundamental for me
                <ul>
                    <li>That's why I prefer the sentence <br> I WORK WITH YOU <br> rather than I WORK FOR YOU </li>
                </ul>
            </li>
            <li>I provide energy, youth, ambition and new ideas for my projects</li>
        </ul>
    </div>
    <h2><a href="#/services">¿Interested? See more</a></h2>
    <script src="https://kit.fontawesome.com/5e899d16e4.js" crossorigin="anonymous"></script>
</body>
</html>