<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/empty.css">
    <title>Empty Spain</title>
</head>
<body>

    <div class="start">
        <h1>My compromise with the rural world</h1>
        <div class="black"></div>
    </div>
    <div class="middle">
        <p>
            Here in Spain, the rural areas are depopulated. And each day that passes, even more. <br>
            That's why I would love to hear your project, especially if you live in one of these depopulated areas, even if you are not from Spain. <br>
            I want to help your bussiness grow and get the rural areas to grow. <br>
            That's why if you have the physical address of your bussiness in one of these areas, <strong><em>I'll make you a discount on the prize.</em></strong><br>
        </p>

        <div class="black"></div>
    </div>
    <div class="section" id="about">
        <h2>Iker Nieto</h2> <br>
        <h3>Web developer proudly based in León</h3> <br>
        <a href="#/About">Know more -></a>
    </div>
    <div class="section" id="contact">
        <p>Any doubts? Don't know what you need?</p>
        <a href="#/Contact">Contact with me -></a>
    </div>
    <footer>
        <p>© <span id="year"> </span> Iker Nieto Garrido. All Rights reserved</p>
        <a href="#"><img src="../../img/mainLogo.png" alt=""></a>
        <p>
            <a href="#/Legal">Legal policy</a>
            <span class="vl"></span>
            <a href="#/Cookies">Cookies policy</a>
            <span class="vl"></span>
            <a href="#/Privacy">Privacy policy</a>
        </p>
    </footer>
   <script src="../../scripts/empty.js" type="module"></script> 
</body>
</html>