<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hi! 👋</title>
    <link rel="stylesheet" href="../../../../App/assets/styles/home.css">
</head>
<body>
    <div id="centered">
        <div id="first" style="--color: #000"><span>Hi!</span> <span id="hand">👋</span></div><br>
        <div id="second"> <span>I'm</span>  <strong>Iker Nieto</strong></div><br>
        <div id="third">Web Developer</div>
    </div>
    <div id="bottom-left"><a href="#/about">Discover more >></a></div>
    <img src="../../../../App/assets/img/mainLogo.png" alt="">
</body>
</html>