    <div id="centered">
        <div class="animations" id="first" style="--color: #000"><span id="hi" class="span">Hi</span><span id="exclamation" class="span">!</span> <span id="hand" class="span">👋</span></div><br>
        <div class="animations" id="second"> <span id="Im" class="span">I'm</span>  <span id="block" class="span"><strong id="name">Iker</strong> <strong id="secondName">Nieto</strong></span></div><br>
        <div class="animations" id="third"><span id="web" class="span">Web</span> <span id="dev" class="span">Developer</span></div>
    </div>
    <a href="#/Services" id="bottom-left">Discover more <span id="arrows" class="span"><i class="fa-duotone fa-arrow-left"></i></span></a>
    <img src="../../../../App/assets/img/mainLogo.png" alt="My logo" id="logo">