<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Legal and license</title>
    <link rel="stylesheet" href="../../styles/policy.css">
</head>

    <h1>Legal policy</h1>
    <p>All this web page, by page it is understood all the pages and contents are the property of Iker Nieto Garrido, unless otherwise indicated.</p> <br>
    <p>The use of the web portal attributes the condition of user of the same and implies the acceptance of all the conditions included in this Legal Notice. The user undertakes to carefully read this Legal notice on each of the occasions in which he intends to use our web portal, since it and its conditions of use contained in this Legal notice may be modified.</p>
    <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/" target="_blank">Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License</a>
    <hr> 
    <footer>
        <p>© <span id="year"> </span> Iker Nieto Garrido. All Rights reserved</p>
        <a href="#/"><img src="../../img/mainLogo.png" alt=""></a>
        <p>
            <a href="#/Legal">Legal policy</a>
            <span class="vl"></span>
            <a href="#/Cookies">Cookie policy</a>
            <span class="vl"></span>
            <a href="#/Privacy">Privacy policy</a>
        </p>
    </footer>
   <script src="../../scripts/policy.js" type="module"></script>
</body>
</html>