<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../styles/navbar.css">
</head>
<body>
    <div class="navigation">
        <ul>
            <li class="list active" data-color="#f53b57">
                <a href="#">
                    <span class="icon"><i class="fa-solid fa-house" aria-hidden="true"></i></span>
                    <span class="title">Home</span>
                </a>
            </li>
            <li class="list" data-color="#3c40c6">
                <a href="#">
                    <span class="icon"><i class="fa-solid fa-user-gear" aria-hidden="true"></i></span>
                    <span class="title">Services</span>
                </a>
            </li>
            <li class="list" data-color="#05c46b">
                <a href="#">
                    <span class="icon"><i class="fa-solid fa-coins" aria-hidden="true"></i></span>
                    <span class="title">
                        <!-- <ul>
                            <li><a href="#/Bronze">Bronze</a></li>
                            <li><a href="#/Silver">Silver</a></li>
                            <li><a href="#/Gold">Gold</a></li>
                        </ul> -->
                        <ul>
                            <li><span data-href="#/bronze">Bronze</span></li>
                            <li><span data-href="#/silver">Silver</span></li>
                            <li><span data-href="#/gold">Gold</span></li>
                        </ul>
                    </span>
                </a>
            </li>
            <li class="list" data-color="#0fbcf9">
                <a href="#">
                    <span class="icon"><i class="fa-solid fa-address-card" aria-hidden="true"></i></span>
                    <span class="title">About</span>
                </a>
            </li> 
            <li class="list" data-color="#ffa801">
                <a href="#">
                    <span class="icon"><i class="fa-solid fa-phone" aria-hidden="true"></i></span>
                    <span class="title">Contact</span>
                </a>
            </li>
            <div class="indicator"></div>
        </ul>
    </div>
    <script>
        let list = document.querySelectorAll("li.list")
        for (let i = 0; i < list.length; i++) {
            list[i].onclick = () => {
                let j = 0;
                while (j < list.length) {
                    list[j++].className = "list"
                }
                list[i].className ="list active";
            }
        }

        list.forEach(el => {
            el.addEventListener("click", (e) => {
                document.querySelector("body").style.background = el.dataset.color;
            })
        })
    </script>
    <script src="https://kit.fontawesome.com/5e899d16e4.js" crossorigin="anonymous"></script>
</body>
</html>