<button class="hamburger hamburger--spring" type="button">
  <span class="hamburger-box">
    <span class="hamburger-inner"></span>
  </span>
</button>
<div class="black"></div>
<aside>
    <div class="navigation">
        <ul>
            <li class="list active" data-color="#30245588">
                <a href="#/">
                    <span class="icon"><i class="fa-duotone fa-house" aria-hidden="true"></i></span>
                    <span class="title">Home</span>
                </a>
            </li>
            <li class="list" data-color="#30245588">
                <a href="#/Services">
                    <span class="icon"><i class="fa-duotone fa-code" aria-hidden="true"></i></span>
                    <span class="title">Services</span>
                </a>
            </li>
            <li class="list" data-color="#804a0088">
                <a href="#/Bronze">
                    <span class="icon"><i class="fa-duotone fa-coins" aria-hidden="true"></i></span>
                    <span class="title">Bronze page</span>
                </a>
            </li>
            <li class="list" data-color="#b2b2b288">
                <a href="#/Silver">
                    <span class="icon"><i class="fa-duotone fa-coin" aria-hidden="true"></i></span>
                    <span class="title">Silver page</span>
                </a>
            </li> 
            <li class="list" data-color="#bf9b3088">
                <a href="#/Gold">
                    <span class="icon"><i class="fa-duotone fa-medal" aria-hidden="true"></i></span>
                    <span class="title">Gold page</span>
                </a>
            </li> 
            <li class="list" data-color="#30245588">
                <a href="#/About">
                    <span class="icon"><i class="fa-duotone fa-address-card" aria-hidden="true"></i></span>
                    <span class="title">About</span>
                </a>
            </li> 
            <li class="list" data-color="#30245588">
                <a href="#/Contact">
                    <span class="icon"><i class="fa-duotone fa-phone" aria-hidden="true"></i></span>
                    <span class="title">Contact</span>
                </a>
            </li>
            <li class="list" data-color="#30245588">
                <a href="#/Compromise">
                    <span class="icon"><i class="fa-duotone fa-mountain-sun" aria-hidden="true"></i></span>
                    <span class="title">My compromise</span>
                </a>
            </li>
            <div class="indicator"></div>
        </ul>
    </div>
</aside>
