<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../styles/navbar.css">
    <link rel="stylesheet" href="../../fontawesome/css/pro.min.css">
</head>
<body>
    <aside>
        <div class="navigation">
            <ul>
                <li class="list active" data-color="#302455">
                    <a href="#">
                        <span class="icon"><i class="fa-duotone fa-house" aria-hidden="true"></i></span>
                        <span class="title">Home</span>
                    </a>
                </li>
                <li class="list" data-color="#302455">
                    <a href="#">
                        <span class="icon"><i class="fa-duotone fa-code" aria-hidden="true"></i></span>
                        <span class="title">Services</span>
                    </a>
                </li>
                <li class="list" data-color="#804a00">
                    <a href="#">
                        <span class="icon"><i class="fa-duotone fa-coins" aria-hidden="true"></i></span>
                        <span class="title">Bronze page</span>
                    </a>
                </li>
                <li class="list" data-color="#b2b2b2">
                    <a href="#">
                        <span class="icon"><i class="fa-duotone fa-coin" aria-hidden="true"></i></span>
                        <span class="title">Silver page</span>
                    </a>
                </li> 
                <li class="list" data-color="#bf9b30">
                    <a href="#">
                        <span class="icon"><i class="fa-duotone fa-medal" aria-hidden="true"></i></span>
                        <span class="title">Gold page</span>
                    </a>
                </li> 
                <li class="list" data-color="#302455">
                    <a href="#">
                        <span class="icon"><i class="fa-duotone fa-address-card" aria-hidden="true"></i></span>
                        <span class="title">About</span>
                    </a>
                </li> 
                <li class="list" data-color="#302455">
                    <a href="#">
                        <span class="icon"><i class="fa-duotone fa-phone" aria-hidden="true"></i></span>
                        <span class="title">Contact</span>
                    </a>
                </li>
                <li class="list" data-color="#302455">
                    <a href="#">
                        <span class="icon"><i class="fa-duotone fa-mountain-sun" aria-hidden="true"></i></span>
                        <span class="title">My compromise</span>
                    </a>
                </li>
                <div class="indicator"></div>
            </ul>
        </div>
    </aside>

    <script>
        let list = document.querySelectorAll("li.list")
        for (let i = 0; i < list.length; i++) {
            list[i].onclick = () => {
                let j = 0;
                while (j < list.length) {
                    list[j++].className = "list"
                }
                list[i].className ="list active";
            }
        }

        list.forEach(el => {
            el.addEventListener("click", (e) => {
                document.querySelector("aside").style.background = el.dataset.color;
            })
        })
    </script>
    <!-- <script src="https://kit.fontawesome.com/5e899d16e4.js" crossorigin="anonymous"></script> -->
</body>
</html>