<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Want to hire me?</title>
    <link rel="stylesheet" href="../../styles/services.css">
</head>
<body>
    <h1>Want me to make your web page?</h1>
    <h2>Here's what I offer</h2>
    <div id="std">
        <h3>More standard and simple projects</h3>
        <form>
            <input type="radio" name="With/Without" id="">
            <label for="With">With support</label>
            <input type="radio" name="With/Without" id="">
            <label for="Without">Without support</label>
        </form>
    </div>
    <div id="cmx">
        <h3>More robust and complex projects</h3>
    </div>
    <div id="big">
        <h4>You have a really big project that doesn't fit in the other categories <br> Email me.</h4>
    </div>
</body>
</html>