<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>I want to make your webpage</title>
    <link rel="stylesheet" href="../../styles/services.css">
</head>
<body>
    
    <div class="section" id="title">
        <h2>A small project makes a big difference</h2>
        <h1>That's why I want to make your website</h1>
    </div>

    <hr>
    <div class="section" id="relax">
        <h2>Sit back, relax. Your page is being built</h2>
        <div class="row">
            <img src="../../img/relaxed-man.jpg" alt="A relaxed man">
            <div class="another-row">
                <p>
                    You can have your web page easily and with a tiny inversion <br>
                    Forget about programming, let me do the work for you
                    <div class="another-another-row">
                        <div>
                            <i class="fa-solid fa-dove"></i>
                            <h3>No commitment, leave when you want</h3>
                            <p>I don't want to keep you from flying away</p>
                        </div>
                        <div>
                            <i class="fa-solid fa-x"></i> <i class="fa-solid fa-money-bill"></i>
                            <h3>No mandatory fees</h3>
                            <p>Once the payment is made, the website is yours. <br> Don't worry. The first months of support are included in the price</p>
                        </div>
                    </div>
                </p>
            </div>
            <div class="you">👈 You, while I build your website 👈️</div>
        </div>
        
    </div>
    <div class="section" id="steps">
        <h3>It has never been so simple</h3>
        <hr>
        <h2>You are just three steps away from the perfect website for your bussiness</h2>
        <div class="row">
            <div class="column">
                <h3> 1. Tell me what you want</h3>
                <p>I'll send you a form with what you want in your webpage, such as images and text</p>
            </div>
            <span class="vl big"></span>
            <div class="column">
                <h3>2. Wait. <br>Everything is being built</h3>
                <p>Don't worry about things like positioning, desing or deployment. I'll do it for you so you can focus on what really matters</p>
            </div>
            <span class="vl big"></span>
            <div class="column">
                <h3>3. Behold! <br> Your website</h3>
                <p>When everything is how you want it, I'll deploy the page and you will be good to go! As simple as that</p>
            </div>
        </div>

    </div>
    <hr class="top-margin">
    <div class="section" id="included">
        <div class="column">
            <h2>Most important features</h2>
            <h3>Included in every prize</h3>
        </div>

        <ul>
            <li>Responsive and pretty desing for every device</li>
            <hr>
            <li>Good positioning on Google and other search engines</li>
            <hr>
            <li>Fast load</li>
            <hr>
            <li>Social media adaptation</li>
            <hr>
            <li>Professional e-mail address with your domain</li>
            <hr>
            <li>"Legal" section, so you don't even have to worry about that</li>
        </ul>
    </div>
    <hr>
    <div class="section" id="plans">
        <h2>Three plans</h2>
        <h3>Adapted to your bussiness needs <br><br> Check them</h3>
        <div class="plans">
            <div class="card" style="--border:#804a00; --g3:#b08d57; --g2:#a97142; --g1:#6e3a06;">
                <div class="card-content">
                    <h3 class="card-title">
                        Bronze
                    </h3>
                    <p>The most economic</p><br>
                    <button><a href="#/Bronze">More info.</a></button>
                </div>
            </div>
            <div class="card silver" style="--border:#B2B2B2; --g1:#7D6E83; --g2:#3c4048; --g3:#f0f0f0;">
                <div class="card-content">
                    <h3 class="card-title">
                        Silver
                    </h3>
                    <p>The most popular</p><br>
                    <button><a href="#/Silver">More info.</a></button>
                </div>
            </div>
            <div class="card gold" style="--border:#bf9b30; --g3:#ffe878; --g2:#ffbf00; --g1:#a67c00;">
                <div class="card-content">
                    <h3 class="card-title">
                        Gold
                    </h3>
                    <p>The best option</p><br>
                    <button><a href="#/Gold">More info.</a></button>
                </div>
            </div>
        </div>
    </div>
    <div class="class" id="compare">
        <div class="compare">
            <h3>Bronze</h3>
            <div>
                <span>From 149€</span><br>
                <small>+ taxes</small>
            </div>
            <hr>
            <p>Basic desing</p>
            <hr>
            <p><abbr title="Search Engine Optimization. A technique for desingning web pages to make them be at the first spot at the search engines">SEO</abbr> basic</p>
            <hr>
            <p>1 month of free support <abbr title="Support can be extended by a monthly cuote or a single payment. Priced apart" class="red">*</abbr></p>
        </div>
        <div class="compare">
            <h3>Silver</h3>
            <div>
                <span>From 299€</span><br>
                <small>+ taxes</small>
            </div>
            <hr>
            <p>Premium design</p>
            <hr>
            <p><abbr title="Search Engine Optimization. A technique for desingning web pages to make them be at the first spot at the search engines">SEO</abbr> premium</p>
            <hr>
            <p>2 months of free support <abbr title="Support can be extended by a monthly cuote or a single payment. Priced apart" class="red">*</abbr></p>
        </div>
        <div class="compare" id="gold">
            <h3>Gold</h3>
            <div>
                <span>From 399€</span><br>
                <small>+ taxes</small>
            </div>
            <hr>
            <p>Special desing focused on mobile devices</p>
            <hr>
            <p><abbr title="Search Engine Optimization. A technique for desingning web pages to make them be at the first spot at the search engines">SEO</abbr> royal</p>
            <hr>
            <p>3 months of free support</p>

        </div>
    </div>
    <hr>
    <div class="section" id="me">
        <div id="first"></div>
        <div id="column">
            <h2>Who am I?</h2>
            <p>
                A developing lover, who wants small bussiness and entrepeneurs to make posible their bussiness idea. <br>
                You'll discover, aside the low prices, professionalism, hard work and a close treatment <br>
                Don't worry, I've got you
            </p>
            <button><a href="#/About">Discover more -></a></button>
        </div>
        <div id="second"></div> 
    </div>
    <hr>
    <div class="section" id="contact">
        <p>Any doubts? Don't know what you need?</p>
        <button><a href="#/Contact">Contact with me -></a></button>
    </div>
    <hr>
    <footer>
        <p>© <span id="year"> </span> Iker Nieto Garrido. All Rights reserved</p>
        <a href="#"><img src="../../img/mainLogo.png" alt=""></a>
        <p>
            <a href="#/Legal">Legal policy</a>
            <span class="vl"></span>
            <a href="#/Cookies">Cookies policy</a>
            <span class="vl"></span>
            <a href="#/Privacy">Privacy policy</a>
        </p>
    </footer>
    <script src="../../scripts/services.js" type="module"></script>
    <script src="https://kit.fontawesome.com/5e899d16e4.js" crossorigin="anonymous"></script>

</body>
</html>