<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Want to hire me?</title>
    <link rel="stylesheet" href="../../styles/services.css">
</head>
<body>
    <h1>Want me to make your web page?</h1>
    <h2>Here's what I offer</h2>
    <div id="std">
        <h3>More standard and simple projects</h3>
        <span id="without">
            
        </span>
    </div>
    <div id="cmx">
        <h3>More robust and complex projects</h3>
    </div>
    <div id="big">
        <h4>Got a really big project?<br> Email me.</h4>
    </div>
    <div class="buttons">
        <button data-link=""><img src="../../svg/upwork.svg" alt=""></button> 
        <button data-link=""><img src="../../svg/fiverr.svg" alt=""></button>
        <button data-link=""><i class="fa-solid fa-envelope card-icon"></i></button>
    </div>
    <script src="https://kit.fontawesome.com/5e899d16e4.js" crossorigin="anonymous"></script>

</body>
</html>