<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplasta a la competencia</title>
    <link rel="stylesheet" href="../../../styles/gold.css">
    <link rel="stylesheet" href="../../../fontawesome/css/pro.min.css">
    <link rel="stylesheet" href="../../../styles/reveal.css">
</head>
<body>
    <div class="section" id="title">
        <h2 class="reveal">Aplasta a la competencia</h2>
        <h1 class="reveal">Web oro</h1>
    </div>
    <hr>
    <div class="section reveal" id="char">
        <div class="row">
            <div class="adapted reveal">
                <i class="fa-duotone fa-gears" aria-hidden=true></i><br>
                <h3>Programación personalizada</h3><br>
                <p>Puedes controlar parte de la programación de la web así podrás elegir el diseño y las capacidades de la web</p>
            </div>
            <span class="vl big"></span>
            <div class="mobile reveal">
                <i class="fa-duotone fa-desktop" aria-hidden=true></i> <i class="fa-solid fa-arrow-right" aria-hidden=true></i> <i class="fa-solid fa-mobile-screen-button" aria-hidden=true></i><br>
                <h3>Diseño responsivo completo</h3><br>
                <p>Cada día se generá más tráfico desde dispositivos móviles. Adáptate a ellos con una web especialmente diseñada para dispositivos móviles</p>
            </div>
            <span class="vl big"></span>
            <div class="seo reveal">
                <i class="fa-duotone fa-chart-line" aria-hidden=true></i><br>
                <h3>SEO real</h3><br>
                <p>Tu página web siempre aparecerá en los primeros puestos de Google. Quítale clientes a tu competencia y cumple los objetivos de tu negocio</p>
            </div>
            <span class="vl big"></span>
            <div class="proffesional reveal">
                <i class="fa-solid fa-heart" aria-hidden=true></i><br>
                <h3>Hecho con amor</h3><br>
                <p>Profesional, personal y perfecta. Tendrás la página de tus sueños para tu negocio, con ese toque personal. Simplemente perfecta.</p>
            </div>
        </div>
    </div>
    
    <div class="section" id="extra-features">
        <div class="back-img" id="left">
            <div class="black"></div>
            <h3 class="reveal">Atrae a más personas</h3>
            <p class="reveal">
                Te haré un blog personalizado, <br>
                así atraerás a más clientes
            </p>
            <a href="#/Contact">Más información</a>
        </div>
        <div class="back-img" id="center">
            <div class="yellow"></div>    
        </div>
        <div class="back-img" id="right">
            <div class="black"></div>
            <h3 class="reveal">Seguridad, el enfoque principal</h3>
            <p class="reveal">
                Seguridad, una de las cosas más importantes en el mundo del desarrollo web. <br>
                Así que no te preocupas ante un ataque, estarás protegido
            </p>
            <a href="#/About">Más información</a>
        </div>
    </div>
    <div class="section" id="me">
        <div class="black"></div>
        <div id="column" class="reveal">
            <h2>¿Quién soy?</h2>
            <p>
                Un amante del desarrollo, que quiere que pequeñas empresas y emprendedores puedan llevar a cabo sus ideas. <br>
                Descubirás, aparte de los bajos precios, profeisonalidad, trabajo duro y un tratamiento cercano. <br>
                No te preocupes, lo tengo todo controlado.
            </p>
            <a href="#/About">Descubre algo más -></a>
        </div>
    </div>
    <div class="section" id="contact">
        <p class="reveal">Start your project right now. I'm at your service</p>
        <a href="#/Contact" class="reveal button">Contact with me -></a>
    </div>
    <hr>
    <footer>
        <p>© <span id="year"> </span> Iker Nieto Garrido. All Rights reserved</p>
        <a href="#/"><img src="../../../img/mainLogo.png" alt=""></a>
        <p>
            <a href="#/Legal">Aviso legal</a>
            <span class="vl"></span>
            <a href="#/Cookies">Política de cookies</a>
            <span class="vl"></span>
            <a href="#/Privacy">Política de privacidad</a>
        </p>
    </footer>
    <script src="../../../scripts/gold.js" type="module"></script>
</body>
</html>